# Data Science Tools and Ecosystem

## Author
Johannes Jysky

**Objectives:**
- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Demonstrate basic arithmetic operations in Python.
- Convert unnits of time (minutes to hours) using Python
- Create tables in Markdown for organizing information.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL (Structured Query Language)

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. Pandas
3. Matplotlib 
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| :----------------: |
| JupyterLab |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335